{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}

{% if not cart_items %}
<div class="text-center">
	<br>
	<h1 class="text-center product_title">Your cart is empty</h1>
	<br>
	<p class="text-center"> Click <a href="{% url 'home' %}">here</a> to go back products
		
	</p>


</div>


{% else %}
<div class="text-center bg-light mt-5">
	<br>
	<div class="text-center product_title">Shopping Cart</div>
	
</div>
<div class="row mx-auto bg-light ">
	<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
		<table class="table cart-table">
			<thead class="cart-thead">
				<tr>
					<th colspan="4">
						Your Items
					</th>
				</tr>
			</thead>
			{% for cart_item in cart_items %}
				<tr>
					<td>
						<a href="{{cart_item.product.get_url}}">
							<img src="{{cart_item.product.image.url}}" width="100px">
						</a>
					</td>
					<td class="text-left">
						{{cart_item.product.title}}
						<br>
						SKU:{{cart_item.product.id}}
						<br>
						Price: {{cart_item.product.price}}$
						<br>
						Quantity: {{cart_item.quantity}} x {{cart_item.product.price}}
						
					</td>
					<td>
						{{cart_item.sub_total}}$
					</td>
					<td>
					{% if cart_item.quantity < cart_item.product.stock %}
					
					<a href="{% url 'add_cart' cart_item.product.id %}"><i class="material-icons cart-icon">add_shopping_cart</i></a>
					{% else %}
					{% endif %}
					<a href="{% url 'remove_cart' cart_item.product.id %}"><i class="material-icons cart-icon">remove</i></a>
					<a href="{% url 'remove_cart_product' cart_item.product.id %}"><i class="material-icons cart-icon">delete_outline</i></a>
					</td>
					

					
					

				</tr>

			{% endfor%}

		</table>	
	
	</div>
	

		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
		<table class="table cart-table">
			<thead class="cart-thead">
				<tr>
					<th colspan="4">
						Check Out
					</th>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td>
						Please check your cart before payment
					</td>
				</tr>
				<tr class="text-left">
					<td>Your total bill is <strong>{{ total }}$</strong></td>
				</tr>
			</tbody>
		</table>	
		<div class="mx-auto">
			<a href="" style="text-decoration:none;" >
				<button type="button" class="btn btn-block btn-lg bg-dark text-light" >
					Back To Products
				</button>
			</a>
		</div>

	</div>
	
	
</div>



{% endif %}












{% endblock content %}